[Unit]
Description=Credential fetcher for GitHub Actions Runner
After=network.target
Before=actions.runner.service

[Service]
Type=notify
ExecStart=/opt/runner-creds-lock/bin/python /opt/runner-creds-lock/bin/get-runner-creds
User=runner
WorkingDirectory=/home/runner/actions-runner
Restart=always
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target